.stm-translation-exists {
    font-weight: bold;
    color: green !important;
}

.stm_t_snippet {
    width: 100%;
    font-family: monospace;
    margin-top: 10px;
    margin-bottom: 10px;
}

.stm_snippets {
    margin-top: 10px;
    margin-bottom: 10px;
}

.stm-text-output {
    height: 400px;
    overflow-y: scroll;
}